{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <title>Eventium</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <!-- Navigation -->

            <!-- Logo image: a link to index/home page -->
            <a id="logo" href="{% url 'index' %}">
                <img id="logo-img" src="{% static 'images/logo-img.png' %}" alt="logo" />
            </a>

            <nav>
                {% if has_organizer_profile %}
                    <div class="user">
                        <a href="{% url 'event_list' %}">Events</a>
                        <a href="{% url 'event-create' %}">New Event</a>
                        <a href="{% url 'profile-details' %}">Organizer's Profile</a>
                    </div>
                {% else %}
                    <div class="guest">
                        <a href="{% url 'profile-create' %}">New Organizer</a>
                    </div>
                {% endif %}
            </nav>
        </header>

        {% block content %}
        {% endblock %}

    </div>

    <!-- footer -->
    <footer>
        <p>&copy; 2025 Eventium by SoftUni Team. All rights reserved.</p>
    </footer>
</body>

</html>