{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="register">
    <div class="form">
        <h2>New Organizer's Profile</h2>
        <form class="register-form" method="post" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.company_name.label_tag }}
                <div class="helptext" id="id_company_name_helptext">{{ form.company_name.help_text }}</div>
                {{ form.company_name }}
                {{ form.company_name.errors }}
            </div>

            <div>
                {{ form.phone_number.label_tag }}
                {{ form.phone_number }}
                {{ form.phone_number.errors }}
            </div>

            <div>
                {{ form.secret_key.label_tag }}
                <div class="helptext" id="id_secret_key_helptext">{{ form.secret_key.help_text }}</div>
                {{ form.secret_key }}
                {{ form.secret_key.errors }}
            </div>

            <button type="submit">Create</button>
        </form>
    </div>
</section>
{% endblock %}